/* Define theme variables */
:root {
  --background: #011640;
  --accent-blue-dark: #2044bc;
  --accent-blue-light: #23a2f6;
  --accent-orange-dark: #ff512f;
  --accent-orange-light: #f09819;
  --text-white: #ffffff;
  --text-black: #080710;
  --card-bg: rgba(255, 255, 255, 0.07);
  --card-border: rgba(255, 255, 255, 0.1);
  --box-shadow: rgba(8, 7, 16, 0.6);
  --placeholder-color: #e5e5e5;
  --off-white-bg: #e5e5e5;
}


/*post-edit*/
.tab-container {
    max-width: 700px;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    padding: 20px;
    border-radius: 8px;
  }
  /* Tab buttons */
  .tabs {
    overflow: hidden;
    display: flex;
  }
  .tabs button {
    background-color: inherit;
    margin: 0px;
    outline: none;
    border-radius: 0.5vw 0.5vw 0vw 0vw;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s;
    font-size: 17px;
    color: var(--text-white);
  }
  .tabs button:hover {
    background-color: var(--transparent-card-bg);
  }
  .tabs button.active {
    background-color: var(--transparent-card-bg);
  }
  /* Tab content */
  .tab-content {
    display: none;
    padding: 20px 0;
  }
  .tab-content.active {
    display: flex;
    align-self: center;
    flex-direction: column;
  }
  .tab-content.active > * {
    margin: 5px;
  }
  /* Common form styles */
  option {
    background: var(--background);
  }
  form {
    height: auto;
    width: 100%;
    min-width: 30vw;
    background-color: var(--transparent-card-bg);
    position: static;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--transparent-card-border);
    box-shadow: 0 0 40px var(--transparent-card-bs);
    padding: 50px 35px;
  }

  form * {
    font-family: "Poppins", sans-serif;
    color: var(--text-white);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }

  form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
  }

  label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }

  .form-group {
    margin-top: 1.5vh;
  }

  input,
  select,
  textarea {
    display: block;
    height: 3em;
    width: 100%;
    background-color: var(--transparent-card-bg);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }
  textarea {
    height: 10em;
  }
  ::placeholder {
    color: var(--off-white-bg);
  }

  button {
    width: 100%;
    background-color: var(--text-white);
    color: var(--text-black);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0.5vw;
    cursor: pointer;
  }
  .existing-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid var(--transparent-card-border);
  }
