/* Define theme variables */
:root {
    --background: #011640;
    --accent-blue-dark: #2044bc;
    --accent-blue-light: #23a2f6;
    --accent-orange-dark: #ff512f;
    --accent-orange-light: #f09819;
    --text-white: #ffffff;
    --text-black: #080710;
    --card-bg: rgba(255, 255, 255, 0.07);
    --card-border: rgba(255, 255, 255, 0.1);
    --box-shadow: rgba(8, 7, 16, 0.6);
    --placeholder-color: #e5e5e5;
    --off-white-bg: #e5e5e5;
}

/* Reset default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background-color: var(--background);
    color: var(--text-white);
    font-family: "Poppins", sans-serif;
}

/* Personal profile section */
.personal_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
    align-items: flex-start;

}

/* User information */
#user_info {
    position: sticky;
    text-align: center;
    border: 1px solid var(--transparent-card-border);
    border-radius: 20px;
    margin: 2.5vh;
    height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw 1vh;
    top: 20px;
    width :60%;

}

.user_icon {
    width: 8vw;
    height: 8vw;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#user_info h1,
#user_info h4,
#user_info h5 {
    margin: 0.5em 0;
}

#user_stats {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

#user_stats h2 {
    font-size: 1.2em;
}

/* Buttons */
button {
    background-color: var(--accent-blue-light);
    color: var(--text-white);
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 1em;
}

button:hover {
    background-color: var(--accent-blue-dark);
}

/* Modal Styling */
.custom-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-modal .custom-modal-content {
    background-color: var(--transparent-card-bg);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--transparent-card-border);
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 40px var(--box-shadow);
    color: var(--text-white);
}

.custom-modal .close-button {
    color: var(--text-white);
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
}

.custom-modal h3 {
    text-align: center;
    margin-bottom: 20px;
}

.custom-modal .form-group {
    margin-bottom: 15px;
}

.custom-modal label {
    display: block;
    margin-bottom: 5px;
}

.custom-modal input,
.custom-modal textarea {
    width: 100%;
    padding: 10px;
    background-color: var(--transparent-card-bg);
    border: 1px solid var(--card-border);
    border-radius: 5px;
    color: var(--text-white);
    font-size: 16px;
}

.custom-modal textarea {
    height: 100px;
    resize: vertical;
}

.custom-modal input::placeholder,
.custom-modal textarea::placeholder {
    color: var(--placeholder-color);
}

.custom-modal button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: var(--text-white);
    border: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    color: var(--text-black);
}

.custom-modal button[type="submit"]:hover {
    background-color: var(--off-white-bg);
}

/* Responsive Modal */
@media (max-width: 768px) {
    .custom-modal .modal-content {
        width: 80%;
    }
    #user_info{
        top:65px;
    }
}

.close-button {
    background: none;
    border: none;
    color: var(--text-white);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.custom-button {
    background-color: var(--text-white);
    color: var(--text-black);
}

.custom-button:hover {
    background-color: var(--off-white-bg);
}
/* Links */
a {
    color: var(--accent-blue-light);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
