:root {
    --background: #011640;
    --accent-blue-dark: #2044bc;
    --accent-blue-light: #23a2f6;
    --accent-orange-dark: #ff512f;
    --accent-orange-light: #f09819;
    --text-white: #ffffff;
    --text-black: #080710;
    --transparent-card-bg: rgba(255, 255, 255, 0.07);
    --transparent-card-border: rgba(255, 255, 255, 0.1);
    --transparent-card-bs: rgba(8, 7, 16, 0.6);
    --off-white-bg: #e5e5e5;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background);
}
.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child {
    background: linear-gradient(var(--accent-blue-dark), var(--accent-blue-light));
    left: -180px;
    top: -300px;
}
.shape:last-child {
    background: linear-gradient(to right, var(--accent-orange-dark), var(--accent-orange-light));
    right: -180px;
    bottom: -300px;
}
form {
    height: auto;
    width: 600px;
    background-color: var(--transparent-card-bg);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--transparent-card-border);
    box-shadow: 0 0 40px var(--transparent-card-bs);
    padding: 50px 35px;
}
form * {
    font-family: "Poppins", sans-serif;
    color: var(--text-white);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}
.form-group {
    margin-top: 15px;
}
input,
select,
textarea {
    display: block;
    height: 40px;
    width: 100%;
    background-color: var(--transparent-card-bg);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: var(--text-white);
}
textarea {
    height: 80px;
    padding-top: 10px;
}
::placeholder {
    color: var(--off-white-bg);
}
button {
    margin-top: 30px;
    width: 100%;
    background-color: var(--text-white);
    color: var(--text-black);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.mt-3 {
    margin-top: 20px;
}
.text-center {
    text-align: center;
}
a {
    color: var(--text-white);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
