:root {
  --background: #011640;
  --accent-blue-dark: #2044bc;
  --accent-blue-light: #23a2f6;
  --accent-orange-dark: #ff512f;
  --accent-orange-light: #f09819;
  --text-white: #ffffff;
  --text-black: #080710;
  --transparent-card-bg: rgba(255, 255, 255, 0.07);
  --transparent-card-border: rgba(255, 255, 255, 0.1);
  --transparent-card-bs: rgba(8, 7, 16, 0.6);
  --off-white-bg: #e5e5e5;
  --breakpoint-lg: 992px;
  --nav_width: 6vw;

  --border: #b0b0b0;
  --white: #ffffff;
  --subcolor: #959595;
  --hover_color: #e9e9e9;
  --button_back: #007bff;
  --button_hover: #0056b3;
  --button_back: #007bff;
  --comment_back: #f8f9fa;
}
body {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 0vw 5vh 0vw;

  --nav_width: 6vw;
}

/* Navbar */
body {
  transition: var(--nav_width) 0.3s ease-in-out;
}
body.nav-expanded {
  --nav_width: 30vw;
}

div.container.main {
  display: flex;
  flex-direction: column;
  padding: 0.5vh 2vw 0.5vh 2vw;
}

.navbar-brand {
  font-family: "Gugi";
  text-decoration: none;
  transition: text-shadow 0.3s ease-in-out;
}
.navbar-brand:hover {
  text-shadow: 0px 0px 25px var(--transparent-card-bs);
}

.sidebar {
  inset: 0 auto 0 0;
  width: var(--nav_width);
  transition: width 0.3s ease-in-out;
  position: fixed;
  padding: 10px;
  height: 100%;
  color: var(--white);
  border-right: 2px solid var(--transparent-card-border);
  background-color: var(--transparent-card-bg);
  text-decoration: none;
  backdrop-filter: blur(30px);
}

ul.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  padding-bottom: 3vh;
  list-style: none;
}

span.nav-label {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

ul.sidebar li:last-child {
  margin-top: auto;
}
ul.sidebar li.nav-item {
  height: 40px;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}
ul.sidebar li.nav-item:hover {
  background-color: var(--transparent-card-bg);
  border-radius: 0.25em;
  width: 100%;
}

.nav-expanded span.nav-label {
  visibility: visible;
  display: flex;
  opacity: 1;
}

a.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
  gap: 0px 10px;
  text-decoration: none;
  transition: gap 0.3s ease;
  color: var(--text-white);
}
@media (max-width: 1200px) {
  div.container.main {
    padding: 0.5vh 5vw 0.5vh 5vw;
  }
}
@media (max-width: 768px) {
  body {
    flex-direction: column;
    padding-top: 0px;
  }
  #navbarNav {
    position: sticky;
    top: 0.25vh;
    right: 5vw;
    width: 100%;
    border-bottom: 2px solid var(--transparent-card-border);
    background-color: var(--transparent-card-bg);
    backdrop-filter: blur(30px);
  }
  #navbarNav > div {
    visibility: hidden;
  }

  #navbarNav.nav-expanded {
    visibility: visible;
    background-color: transparent;
    border: none;
    backdrop-filter: none;
  }
  #navbarNav.nav-expanded > div {
    visibility: visible;
  }

  #navbarNav.nav-expanded span.nav-label {
    width: 100%;
    visibility: visible;
    opacity: 1;
  }
  #navbarNav.nav-expanded ul.sidebar {
    height: min-content;
    border-bottom: 2px solid var(--transparent-card-border);
    background-color: var(--transparent-card-bg);
    backdrop-filter: blur(30px);
    width: 100%;
    margin: 0;
  }
}

.post-container {
  border: 1px solid var(--border);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 2.5vh;
  width: 100%;
}
.post {
  padding: 2vh 1vw 1vh 1vw;
}

.post.info {
  display: flex;
  align-items: center;
  height: 15vh;
  padding: 1vh 1vw;
  border-bottom: 1px solid var(--border);
  flex-basis: fit-content;
}
.post.info h1 {
  font-size: 1.25rem;
}
.post.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 1vw;
  border-bottom: 1px solid var(--border);
}
.user_info {
  padding: 0vh 1vw 0vh 1vw;
  display: flex;
  width: 100%;
}
.user_img {
  border: 1px solid var(--border);
  border-radius: 100%;

  display: flex;
  align-items: center;
  height: 10vh;
  width: 10vh;
  padding: 0px 0px 0px 0px !important;
  overflow: hidden;
}
.user_img_icon {
  width: 1em;
  height: 1em;
  border-radius: 100%;
}

.user_img.small {
  height: 3vh;
  width: 3vh;
}

.post-meta {
  font-size: 1rem;
  color: var(--subcolor);
  padding: 0vh 1vw 0vh 1vw;
}
.post.body {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.post.body img {
  height: 70%;
  overflow: hidden;
}
.post.body a {
  all: inherit;
  padding: 1vh 1vw;
}

.post.bottom_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1vh 1vw;
  border-top: 1px solid var(--border);
}
.icon {
  background: transparent;
  border: 0px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

button.icon :hover {
  background: var(--hover_color);
  border-radius: 10px;
  border: 1px transparent;
}

.icon img {
  max-width: 100%;
  max-height: 100%;
}
/* Comments Section Styles */
#comment_create_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
}
#comment_create_block form {
  width: 100%;
}
#comment_create_block textarea {
  margin: 1vh 1vw;
  width: -webkit-fill-available;
  overflow-y: auto;
  border-radius: 1vh;
}
.comments-section {
  margin-top: 40px;
}
.comments-section ul {
  list-style-type: none;
  padding: 0;
}
.comments-section li {
  background-color: var(--comment_back);
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  word-wrap: break-word;
}
.comment-author {
  font-weight: bold;
}
.comment-date {
  display: block;
  margin-top: 5px;
  font-size: 12px;
}
/* Button Styles */
.create-comment-button button,
.like-button button {
  background-color: var(--button_back);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: min-content;
  height: 5vh;
  margin: 1vh 1vw;
}
.create-comment-button button:hover,
.like-button button:hover {
  background-color: var(--button_hover);
}
.back-link a {
  font-size: 16px;
}
.overlay {
  display: none;
}
.overlay.show-overlay {
  display: flex !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 10;
  display: flex;
  row-gap: 1vh;
  flex-direction: column;
  align-items: center;
}
.post.user_actions {
  height: fit-content;
  padding: 1vh 1vw;
  display: flex;
  justify-content: flex-end;
}
div.personal_profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
div#user_info {
  text-align: center;
  border: 1px solid var(--border);
  border-radius: 20px;
  margin: 2.5vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vw 1vh;
}
#user_stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
#user_stats h2 {
  font-size: 2vh;
  padding: 0.5vh 0.5vw;
}
span.user_icon img {
  height: 20vh;
}
.single_post {
  display: flex;
  flex-direction: column;
}
/* CSS for Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  width: fit-content;
  font-size: 20px;
  border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;
}

.close-button {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
