:root {
    --border: #b0b0b0;
    --white: #ffffff;
    --subcolor:#959595;
    --hover_color:#e9e9e9;
    --button_back:#007BFF;
    --button_hover:#0056b3;
    --button_back:#007BFF;
    --comment_back:#f8f9fa;
  }


.post-container {
    border: 1px solid var(--border);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 2.5vh;
}
.post{
    padding: 2vh 1vw 1vh 1vw;
}


.post.info {
    display: flex;
    align-items:center;
    height: 15vh;
    padding:1vh 1vw;
    border-bottom: 1px solid var(--border);


}
.post.info h1{
    font-size:1.25rem ;
}
.user_info{
    padding: 0vh 1vw 0vh 1vw;

}
.user_img{
    border: 1px solid var(--border);
    border-radius: 100%;

    display: flex;
    align-items: center;
    height: 10vh;
    width: 10vh;
    padding:0px 0px 0px 0px !important;
    overflow: hidden;

}
.user_img img{
    max-height: 100%;
}
.user_img.small{
    height: 3vh;
    width: 3vh;
}


.post-meta{
    font-size : 1rem;
    color:var(--subcolor)

}

.post.body {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    height: fit-content;

}
.post.body img{
    height: 70%;
    width: 70%;
    overflow: hidden;

}
.post.body a{
    all: inherit;
    padding:1vh 1vw;

}

.post.bottom_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:1vh 1vw;
    border-top: 1px solid var(--border);


}
.icon{
    background: transparent;
    border: 0px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

button.icon :hover{
    background: var(--hover_color);
    border-radius: 10px;
    border: 1px transparent;

}

.icon img{
    max-width: 100%;
    max-height: 100%;

}
/* Comments Section Styles */
#comment_create_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:-webkit-fill-available;
}
#comment_create_block form {
    width: 100%;
}
#comment_create_block textarea {
    margin: 1vh 1vw;
    width: -webkit-fill-available;
    overflow-y: auto;
    border-radius: 1vh;

}
.comments-section {
    margin-top: 40px;
}
.comments-section ul {
    list-style-type: none;
    padding: 0;
}
.comments-section li {
    background-color: var(--comment_back);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    word-wrap: break-word;
}
.comment-author {
    font-weight: bold;
}
.comment-date {
    display: block;
    margin-top: 5px;
    font-size: 12px;
}
/* Button Styles */
.create-comment-button button, .like-button button {
    background-color: var(--button_back);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width:min-content;
    height:5vh;
    margin:1vh 1vw;
}
.create-comment-button button:hover, .like-button button:hover {
    background-color: var(--button_hover);
}
.back-link a {
    font-size: 16px;
}
.overlay{
    display: none;
}
.overlay.show-overlay{
    display: flex !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 10;
    display: flex;
    row-gap: 1vh;
    flex-direction: column;
    align-items: center;
}
.post.user_actions {
    height: fit-content;
    padding: 1vh 1vw;
    display: flex;
    justify-content: flex-end;
}
div.personal_profile{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: max-content;

}
div#user_info{

    text-align:center;
    border: 1px solid var(--border);
    border-radius: 20px;
    margin: 2.5vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw 1vh;
    overflow:hidden;
}
#user_stats{
   display:flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
}
#user_stats h2{
    font-size:2vh;
    padding:.5vh .5vw;
}
span.user_icon img {
    height: 20vh;
}
