:root {
  --background: #011640;
  --accent-blue-dark: #2044bc;
  --accent-blue-light: #23a2f6;
  --accent-orange-dark: #ff512f;
  --accent-orange-light: #f09819;
  --text-white: #ffffff;
  --text-black: #080710;
  --transparent-card-bg: rgba(255, 255, 255, 0.07);
  --transparent-card-border: rgba(255, 255, 255, 0.1);
  --transparent-card-bs: rgba(8, 7, 16, 0.6);
  --off-white-bg: #e5e5e5;
}
/* General Styling */


.search-bar-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 600px;
  border: 2px solid var(--transparent-card-border);
  border-radius: 25px;
  background-color: var(--transparent-card-bg);
  padding: 10px;
}

.search-input {
  flex-grow: 1;
  border: none;
  background: transparent;
  color: var(--text-white);
  font-size: 16px;
  padding: 10px;
  outline: none;
}

.search-input::placeholder {
  color: var(--text-white);
}

.search-button {
  background-color: var(--accent-blue-light);
  color: var(--text-white);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: var(--accent-blue-dark);
}

.table {
  margin-top: 20px;
  border-radius: 20px;

}
.table-dark {
  color: var(--text-white);
  background-color: var(--background);
  border: 1px solid var(--transparent-card-border);
}
.td{
  display: flex;
  flex-direction: row;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
