{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} Django App {% endblock %}</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://unpkg.com/htmx.org"></script>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'node_link:home' %}">Node Link</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'node_link:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'friends_page' %}">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'node_link:notifications' %}">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'postApp:create_post'%}">Create Post</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <span class="navbar-text"> Logged in as  <a  href="{% url 'authorApp:profile_display' request.user.username%}">{{ request.user.username }} </a></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authorApp:logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container mt-4">{% block content %} {% endblock %}</div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
