

{% if success%}

    <div id="c_staus_msg">Comment posted</div>
    <script>

        setTimeout(function() {

                window.location.reload();

        }, 2000);

</script>


{%else%}

    <form method="POST" hx-post="{%url 'create_comment' post.id %}" hx-trigger="click">
        {% csrf_token %}
        <!-- Textarea for comment content -->
        <textarea name="content" placeholder="Write your comment..." required></textarea><br>
        <!-- Submit button -->
        <div style="text-align: center;">
            <button type="submit">Submit Comment</button>
        </div>
    </form>
{%endif%}
