<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %} {% block title %}Home - SocialDistribution{% endblock %} {% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://unpkg.com/htmx.org"></script>


</head>

<body>


    <div class="post-container" id="main_post" hx-get="{%url 'one_post' post.id %}" hx-trigger="load"
        hx-target="#post_body" hx-swap="innerHTML">
        <div id='post_body'></div>
    </div>


    <div class="post-container">
        <!-- Add Comment Button -->

        <div id="comment_create_block">
            <div class="create-comment-button">
                <button class="icon" type="button" hx-get="{%url 'create_comment' post.id %}" hx-trigger="click"
                hx-target="#comment_create_block" hx-swap="innerHTML">Add a Comment<img src="{% static 'icons/plus.svg' %}"></button>
        </div>
        </div>
        <!-- Comments Section -->
        <div class="comments-section">
            <h2>Comments</h2>
            {% if post.comments.all %}
            <ul>
                {% for comment in comment_list %}
                <li>
                    <div class="comment">
                        <span class="comment-author">
                            <a  href="{% url 'profile_display' comment.author.user.username%}"><div class='user_img small'><img src={{comment.author.user.profile_image}}></div></a>
                            <a  href="{% url 'profile_display' comment.author.user.username%}">{{comment.author.user.username }}</a>
                        </span>:
                        {{ comment.content|linebreaks }}
                        <span class="comment-date">
                            Posted on {{ comment.created_at|date:"F j, Y, g:i a" }}
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No comments yet.</p>
            {% endif %}
        </div>


    </div>


    </div>
</body>
{% endblock %}

</html>
