<!-- Replace word with icons later -->

<div class="post info">
    <div class=" user_info">
        <span class="user_icon"></span><!--!!!ass anchor to user account-->
        <h3 class="user_name">{{username}}</h3>
    </div>
    <h2>{{post_title}}</h2>
    <span class="img_icon"  {% if not fo %}style='visibility:hidden'{% endif %}>Friend-only</span>

</div>
<div class="post body">

    {% if post.content %}
    <div class="post content">
        {{ post_content|linebreaks }}
    </div>
    {% endif %}
    <!-- Post Image -->
    {% if post.img %}
    <div class="post img">
        <img src="{{ post_img }}" alt="Post Image">
    </div>
    {% endif %}

</div>
<div class="post bottom_bar">
    <p class="like_count" >{{likes_num}} Likes</p>
    <form action="{% url 'like_post' post_id=id %}" method="post">
        {% csrf_token %}
        <button class="icon" type="submit">Like</button>
    </form>
    <form action="" method="post"><!--!!! url-->
        {% csrf_token %}
        <button class="icon" type="submit">Share</button>
    </form>
</div>
<div class="post bottom_bar">
    <p class="comment_count">{{comment_num}} Comments</p>
    <form action="{% url 'create_comment' post_id=id %}" method="post">
        {% csrf_token %}
        <button class="icon" type="submit">Add Comment</button>
    </form>
</div>
