{% load static %}


<!-- Replace word with icons later -->

<div class="post info">
    <!-- Post Meta Information -->
    <!-- Post Title -->
    <a  href="{% url 'authorApp:profile_display' post.author.user.username%}"><div class='user_img'><img src="{{profileImg}}"></div></a>
    <div class="user_info">
        <h1>{{post.title}}</h1>
        <span class="user_icon"></span><!--!!!add anchor to user account-->
        <div class="post-meta"><!--!!!add link yo user profile-->
            By <a  href="{% url 'authorApp:profile_display' post.author.user.username%}">{{ post.author.user.username }}</a> on {{ post.created_at|date:"F j, Y, g:i a" }}
            | Visibility: {{ post.get_visibility_display }}
        </div>
    </div>


</div>
<div class="post body">
    <a href="{%url 'postApp:post_detail' post.uuid%}" target="_parent">

            {% if post_content %}
            <div class="post content">
                {% if post.contentType == 'm' %}
                    {{ post_content|safe|linebreaks }}
                {% elif post.contentType in 'png jpeg a' %}
                    <img src="{{ post_content }}" alt="Post Image" style="max-width:100%; height:auto;">
                {% else %}
                    {{ post_content|linebreaks }}
                {% endif %}
            </div>
            {% endif %}


        <!-- Post Image -->
        {% if post.img %}
        <div class="post img">
            <img src="{{ post.img.url }}" alt="Post Image">
        </div>
        {% endif %}
    </a>
</div>
<div class="post bottom_bar">
    <!-- Display the number of likes -->
    <div class="like-count">
        {{ post.postliked.count }} {{ post.postliked.count|pluralize:"Like,Likes" }}
    </div>
    <!-- Like/Unlike Button -->
    <div class="icon-button">


        {% if user_has_liked == False%}
        <form action="{% url 'postApp:like_post' post.uuid %}" method="post">
            {% csrf_token %}
            <button id='post-like-{{post.uuid}}' class='icon' type="submit"><img
                    src="{% static 'icons/plain_heart.svg' %}" alt="like button"></button>
        </form>
        {%else%}
        <span class='icon'><img src="{% static 'icons/filled_heart.svg' %}"
            alt="unlike button"></span>
        {% endif %}
    </div>


    <div class="icon-button">
        <form action="" method="post"><!--!!! url-->
            {% csrf_token %}
            <button class="icon" type="submit"><img src="{% static 'icons/send.svg' %}" alt="send button"></button>
        </form>
    </div>
</div>
