<!-- this is the content html that will appear in the content of
the Modal Strucutre in post_card.html (via htmx target) which will show a list of authors that you can share the post to -->
<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Share Post</title>
</head>
<body>
    <h1>Share "{{ post.title }}"</h1>
    <form method="post">
        {% csrf_token %}
        <p>Select authors to share the post with:</p>
        {% for author in authors %}
            <div>
                <input type="checkbox" name="recipients" value="{{ author.id }}">
                <label>{{ author.user.username }}</label>
            </div>
        {% endfor %}
        <button type="submit">Share Post</button>
    </form>
</body>
{% endblock %}
</html>
